<section class="add-action-component">
    <button
        class="btn btn-primary"
        (click)="handleDisplayAddActionForm()"
        *ngIf="!displayAddActionForm"
    >
        <i class="bi bi-plus"></i> {{ 'PAGE.MATCH_ANALYSIS.FORM.ADD_DECISION' | translate }}
    </button>

    <form
        class="d-flex flex-column gap-3"
        [formGroup]="addActionForm"
        (ngSubmit)="handleSubmitAddAction()"
        *ngIf="displayAddActionForm"
        novalidate
    >
        <section class="d-flex gap-3">
            <section class="type">
                <label for="type" class="form-label">
                    {{ 'PAGE.MATCH_ANALYSIS.FORM.LABEL.TYPE' | translate }} :
                </label>
                <select class="form-select" id="type" formControlName="type">
                    <option *ngFor="let type of actionTypes" [value]="type">
                        {{ 'PAGE.MATCH_ANALYSIS.ACTIONS.ACTION.TYPE.' + type | translate }}
                    </option>
                </select>
            </section>

            <section class="decision-card" *ngIf="exposeDisplayCardInput()">
                <label for="card" class="form-label">
                    {{ 'PAGE.MATCH_ANALYSIS.FORM.LABEL.CARD' | translate }} :
                </label>
                <select class="form-select" id="card" formControlName="card">
                    <option value="" selected>--</option>
                    <option *ngFor="let card of actionCards" [value]="card">
                        {{ 'PAGE.MATCH_ANALYSIS.ACTIONS.ACTION.CARD.' + card | translate }}
                    </option>
                </select>
            </section>

            <section class="against">
                <label for="against" class="form-label">
                    {{ 'PAGE.MATCH_ANALYSIS.FORM.LABEL.AGAINST' | translate }} :
                </label>
                <select class="form-select" id="against" formControlName="against">
                    <option *ngFor="let against of actionAgainsts" [value]="against">
                        {{ 'PAGE.MATCH_ANALYSIS.ACTIONS.ACTION.AGAINST.' + against | translate }}
                    </option>
                </select>
            </section>

            <section class="sector">
                <label for="sector" class="form-label">
                    {{ 'PAGE.MATCH_ANALYSIS.FORM.LABEL.SECTOR' | translate }} :
                </label>
                <select class="form-select" id="sector" formControlName="sector">
                    <option *ngFor="let sector of actionSectors" [value]="sector">
                        {{ 'PAGE.MATCH_ANALYSIS.ACTIONS.ACTION.SECTOR.' + sector | translate }}
                    </option>
                </select>
            </section>

            <section class="fault">
                <label for="fault" class="form-label">
                    {{ 'PAGE.MATCH_ANALYSIS.FORM.LABEL.FAULT' | translate }} :
                </label>
                <select class="form-select" id="fault" formControlName="fault">
                    <option *ngFor="let fault of exposeFaultOptions()" [value]="fault">
                        {{ 'PAGE.MATCH_ANALYSIS.ACTIONS.ACTION.FAULT.' + fault | translate }}
                    </option>
                </select>
            </section>

            <section class="precise">
                <label for="precise" class="form-label">
                    {{ 'PAGE.MATCH_ANALYSIS.FORM.LABEL.PRECISE' | translate }} :
                </label>
                <select class="form-select" id="precise" formControlName="precise">
                    <option *ngFor="let precise of actionPrecises" [value]="precise">
                        {{ 'PAGE.MATCH_ANALYSIS.ACTIONS.ACTION.PRECISE.' + precise | translate }}
                    </option>
                </select>
            </section>

            <section class="comment">
                <label for="comment" class="form-label">
                    {{ 'PAGE.MATCH_ANALYSIS.FORM.LABEL.COMMENT' | translate }} :
                </label>
                <textarea
                    class="form-control"
                    id="comment"
                    formControlName="comment"
                    rows="1"
                ></textarea>
            </section>
        </section>

        <section class="d-flex align-items-center justify-content-end gap-3">
            <article>
                <b>{{ 'PAGE.MATCH_ANALYSIS.FORM.LABEL.SECOND' | translate }} :</b>
                {{ exposeActionMinutes() }}
            </article>
            <button
                class="btn btn-danger"
                type="button"
                [disabled]="isAddingAction"
                (click)="handleHideAddActionForm()"
            >
                {{ 'PAGE.MATCH_ANALYSIS.FORM.CANCEL' | translate }}
            </button>
            <button
                class="btn btn-success"
                type="submit"
                [disabled]="addActionForm.invalid || isAddingAction"
            >
                {{ 'PAGE.MATCH_ANALYSIS.FORM.ADD' | translate }}
            </button>
        </section>
    </form>
</section>
