.add-action-component {
    .input {
        flex-basis: 0;

        &.type, &.decision-card, &.against, &.precise { flex-grow: 1; }
        &.sector, &.fault { flex-grow: 2; }
        &.comment { flex-grow: 4; }
    }
}
