.add-edit-annotation-component {
    width: 100%;

    .input {
        flex-basis: 0;

        &.comment { flex-grow: 4; }
    }

    .form-check { margin: 0; }
    .form-check-label { white-space: nowrap; }

    .minutes-label {
        font-weight: bold;
        margin-left: 0.5rem;
    }
    .minutes-value {
        display: inline-block;
        margin-left: 0.2rem;
        min-width: 60px;
    }
}
