<section class="full-display-actions-component">
    <h3 *ngIf="!isSummaryDisplay">{{ 'PAGE.MATCH_ANALYSIS.ACTIONS.TITLE' | translate }}</h3>

    <section class="actions-header" *ngIf="annotations.length > 0">
        <article class="box role"></article>
        <article class="box minute">
            {{ 'PAGE.MATCH_ANALYSIS.ACTIONS.MINUTE' | translate }}
        </article>
        <article class="box type">
            {{ 'PAGE.MATCH_ANALYSIS.ACTIONS.TYPE' | translate }}
        </article>
        <article class="box against">
            {{ 'PAGE.MATCH_ANALYSIS.ACTIONS.AGAINST' | translate }}
        </article>
        <article class="box sector" *ngIf="!exposeIsBySectorDisplay()">
            {{ 'PAGE.MATCH_ANALYSIS.ACTIONS.SECTOR' | translate }}
        </article>
        <article class="box fault">
            {{ 'PAGE.MATCH_ANALYSIS.ACTIONS.FAULT' | translate }}
        </article>
        <article class="box precise" *ngIf="isSummaryDisplay">
            {{ 'PAGE.MATCH_ANALYSIS.ACTIONS.PRECISE' | translate }}
        </article>
        <article class="box comment">
            {{ 'PAGE.MATCH_ANALYSIS.ACTIONS.COMMENT' | translate }}
        </article>
        <article class="box actions" *ngIf="!isSummaryDisplay"></article>
    </section>

    <section class="actions-container" *ngIf="annotations.length > 0" #scrollable>
        <app-full-action
            *ngFor="let action of exposeActions()"
            [action]="action"
            [putVideoAtSecond]="putVideoAtSecond"
            [isSummaryDisplay]="isSummaryDisplay"
            [isBySectorDisplay]="exposeIsBySectorDisplay()"
            (removeActionEvent)="removeAction($event)"
        ></app-full-action>
    </section>

    <article class="no-action" *ngIf="annotations.length === 0">
        <h5>{{ 'PAGE.MATCH_ANALYSIS.ACTIONS.NO_ACTION' | translate }}</h5>

        <button class="btn btn-primary" (click)="editVideo.emit()" *ngIf="!isSummaryDisplay">
            <i class="bi bi-scissors"></i>
            {{ 'PAGE.MATCH_ANALYSIS.ACTIONS.EDIT_VIDEO_GAME' | translate }}
        </button>
    </article>
</section>
