<section class="collapse-display-annotations-component" #scrollable>
    <section class="decision-card decision" *ngFor="let action of annotations">
        <section class="d-flex align-items-center justify-content-between">
            <article class="second">
                <button
                    class="btn btn-link p-0"
                    [ngClass]="{ yes: action.precise === 'YES', no: action.precise === 'NO', doubt: action.precise === 'DOUBT' }"
                    (click)="putVideoAtSecond(action.second)"
                >
                    {{ exposeActionMinutes(action.second) }}
                </button>
            </article>

            <i class="bi bi-film" *ngIf="action.clip"></i>

            <article class="against">
                <i class="bi bi-house" *ngIf="action.against === 'LOCAL'"></i>
                <i class="bi bi-airplane" *ngIf="action.against === 'VISITOR'"></i>
            </article>
        </section>

        <section class="d-flex align-items-center justify-content-between">
            <article class="type">
                <i class="bi-eye-fill" *ngIf="action.fromAdviser"></i>
                <i class="bi-person-raised-hand" *ngIf="!action.fromAdviser"></i>

                {{ 'PAGE.MATCH_ANALYSIS.ACTIONS.ACTION.TYPE.' + action.type + '_SHORT' | translate }}
            </article>

            <article class="card-type">
                <app-card [card]="action.card"></app-card>
            </article>
        </section>

        <section class="d-flex align-items-center justify-content-between">
            <article class="sector">
                {{ 'PAGE.MATCH_ANALYSIS.ACTIONS.ACTION.SECTOR.' + action.sector + '_SHORT' | translate }}
            </article>

            <article class="comment" *ngIf="action.comment || action.commentFromAdviser">
                <ng-template #popContent>
                    <app-annotation-comments-display [annotation]="action"></app-annotation-comments-display>
                </ng-template>
                <i
                    class="bi bi-chat text-primary"
                    [ngbPopover]="popContent"
                    [openDelay]="400"
                    container="body"
                    triggers="mouseenter:mouseleave"
                    placement="left"
                >
                    <span class="count text-primary" *ngIf="!action.comment || !action.commentFromAdviser">1</span>
                    <span class="count text-primary" *ngIf="action.comment && action.commentFromAdviser">2</span>
                </i>
            </article>
        </section>
    </section>

    <p class="decision-card no-decision" *ngIf="!annotations.length">
        {{ 'PAGE.MATCH_ANALYSIS.ACTIONS.NO_ACTION_SHORT' | translate }}

        <button class="btn btn-primary btn-sm" (click)="editVideo.emit()">
            <i class="bi bi-film"></i>
            <i class="bi bi-scissors"></i>
            <i class="bi bi-film"></i>
        </button>
    </p>
</section>
