.full-display-actions-component {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .actions-header {
        display: flex;
        gap: 5px;

        font-size: 18px;
        font-weight: bold;
        padding: 0 5px 10px 5px;
        border-bottom: 2px solid black;

        .box {
            flex-basis: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &.against, &.minute, &.precise { flex-grow: 1; }
            &.type, &.sector { flex-grow: 2; }
            &.comment, &.fault { flex-grow: 3; }
            &.actions { min-width: 90px; }
        }
    }

    .actions-container {
        display: flex;
        flex-direction: column;
        overflow: auto;
    }

    .no-action {
        margin-top: 50px;
        text-align: center;
    }
}
