.full-display-actions-component {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .actions-header {
        font-size: 18px;
        font-weight: bold;
        padding: 0 5px 10px 5px;
        border-bottom: 2px solid black;
    }

    .actions-header, .action-full-component {
        display: flex;
        align-items: center;
        gap: 5px;

        .box {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &.actions { min-width: 90px; }
            &.against { min-width: 90px; }
            &.fault { min-width: 280px; }
            &.minute { min-width: 110px; }
            &.precise { min-width: 100px; }
            &.role { min-width: 20px; }
            &.sector { min-width: 140px; }
            &.type { min-width: 200px; }
            &.comment {
                min-width: 130px;
                width: calc(100%);
            }
        }
    }

    .actions-container {
        display: flex;
        flex-direction: column;
        overflow: auto;
    }

    .no-action {
        margin-top: 50px;
        text-align: center;
    }
}
