@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import '~@videogular/ngx-videogular/fonts/videogular.css';

@import 'styles/ng-multiselect-dropdown.scss';

button.accordion-button:focus,
button.btn:focus {
    box-shadow: none !important;
}

.accordion-item {
    border: none;

    &:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }
}

button.btn {
    white-space: nowrap;

    &.btn-link > .bi {
        margin: 0 5px;
    }
}
