<section class="home-component">
    <header class="container my-5">
        <img src="assets/cover/cover.svg" alt="Cover">

        <section class="actions-container">
            <button
                class="btn btn-link"
                (click)="handleOpenImportGame()"
            >
                <i class="bi bi-download"></i>
                {{ 'PAGE.HOME.IMPORT_GAME' | translate }}
            </button>
            <button
                class="btn btn-outline-primary"
                (click)="handleDisplayExistingGames()"
                 *ngIf="hasExistingGames"
            >
                <i class="bi bi-eye"></i>
                {{ 'PAGE.HOME.SEE_EXISTING_GAMES' | translate }}
            </button>
            <button
                class="btn btn-outline-primary"
                (click)="navigateToExploreDecisionsPage()"
                 *ngIf="hasExistingGames"
            >
                <i class="bi bi-search"></i>
                {{ 'PAGE.HOME.EXPLORE_DECISIONS' | translate }}
            </button>
        </section>
    </header>

    <form
        class="form-container container py-3"
        [formGroup]="gameForm"
        (ngSubmit)="submit()"
        novalidate
    >
        <section class="mb-4 text-center">
            <h3>{{ 'PAGE.HOME.IMPORT' | translate }}</h3>
            <p>{{ 'PAGE.HOME.MULTI_VIDEO_EXPLANATION' | translate }}</p>
        </section>

        <section class="row">
            <section class="col-8 offset-2 col-lg-4 offset-lg-4">
                <label for="game-number" class="form-label">
                    {{ 'PAGE.HOME.FORM.LABEL.GAME_NUMBER' | translate }}
                    <span class="text-danger">*</span>
                </label>
                <div class="input-group">
                    <span class="input-group-text">{{ gameNumberPrefix }}</span>
                    <input
                        [className]="exposeClassNameForInput(gameNumberControl)"
                        id="game-number"
                        formControlName="gameNumber"
                        type="text"
                        game-number
                    >
                    <span class="input-group-text">{{ gameNumberSuffix }}</span>
                </div>

                <article class="errors-container">
                    <p class="error" *ngIf="gameNumberControl.touched && gameNumberControl.errors?.pattern">
                        {{ 'PAGE.HOME.ERROR.GAME_NUMBER.PATTERN' | translate }}
                    </p>
                    <p class="error" *ngIf="gameNumberControl.touched && gameNumberControl.errors?.required">
                        {{ 'PAGE.HOME.ERROR.GAME_NUMBER.REQUIRED' | translate }}
                    </p>
                    <p class="error" *ngIf="gameNumberControl.touched && gameNumberControl.errors?.alreadyExisting">
                        {{ 'PAGE.HOME.ERROR.GAME_NUMBER.EXISTING' | translate }}
                    </p>
                </article>
            </section>

            <section class="col-8 offset-2 col-lg-3 offset-lg-1">
                <label for="date" class="form-label">
                    {{ 'PAGE.HOME.FORM.LABEL.DATE' | translate }}
                    <span class="text-danger">*</span>
                </label>
                <input
                    [className]="exposeClassNameForInput(dateControl)"
                    id="date"
                    formControlName="date"
                    type="date"
                >

                <article class="errors-container">
                    <p class="error" *ngIf="dateControl.touched && dateControl.errors?.required">
                        {{ 'PAGE.HOME.ERROR.DATE.REQUIRED' | translate }}
                    </p>
                </article>
            </section>
        </section>

        <section class="row" formGroupName="teams">
            <section class="col-6">
                <label for="local-team" class="form-label">
                    {{ 'PAGE.HOME.FORM.LABEL.LOCAL_TEAM' | translate }}
                    <span class="text-danger">*</span>
                </label>
                <div class="input-group">
                    <span class="input-group-text"><span class="bi bi-house"></span></span>
                    <input
                        [className]="exposeClassNameForInput(localTeamControl)"
                        id="local-team"
                        formControlName="local"
                        type="text"
                        [ngbTypeahead]="searchTeams"
                    >
                </div>
            </section>

            <section class="col-6">
                <label for="visitor-team" class="form-label">
                    {{ 'PAGE.HOME.FORM.LABEL.VISITOR_TEAM' | translate }}
                    <span class="text-danger">*</span>
                </label>
                <div class="input-group">
                    <span class="input-group-text"><span class="bi bi-airplane"></span></span>
                    <input
                        [className]="exposeClassNameForInput(visitorTeamControl)"
                        id="visitor-team"
                        formControlName="visitor"
                        type="text"
                        [ngbTypeahead]="searchTeams"
                    >
                </div>
            </section>

            <article class="errors-container">
                <p class="error" *ngIf="exposeFormGroupIsInvalid(teamsGroup)">
                    {{ 'PAGE.HOME.ERROR.TEAMS.REQUIRED' | translate }}
                </p>
            </article>
        </section>

        <section class="row text-center score" formGroupName="score">
            <section class="col-8 offset-2 col-lg-4 offset-lg-4">
                <label for="local-score" class="form-label">
                    {{ 'PAGE.HOME.FORM.LABEL.SCORE' | translate }}
                    <span class="text-danger">*</span>
                </label>
                <div class="input-group">
                    <span class="input-group-text"><span class="bi bi-house"></span></span>
                    <input
                        [className]="exposeClassNameForInput(localScoreControl)"
                        id="local-score"
                        formControlName="local"
                        type="number"
                        min="0"
                    >
                    <span class="input-group-text">-</span>
                    <input
                        [className]="exposeClassNameForInput(visitorScoreControl)"
                        id="visitor-score"
                        formControlName="visitor"
                        type="number"
                        min="0"
                    >
                    <span class="input-group-text"><span class="bi bi-airplane"></span></span>
                </div>
            </section>
            <article class="errors-container"></article>
        </section>

        <section class="row video-inputs" formGroupName="video">
            <section class="d-flex align-items-center justify-content-center position-relative">
                <article class="video-options-toggle btn-group">
                    <input
                        id="video-file"
                        type="radio"
                        class="btn-check"
                        formControlName="option"
                        value="file"
                        (change)="handleVideoSourceUpdated()"
                    >
                    <label class="btn btn-outline-primary" for="video-file">
                        {{ 'PAGE.HOME.FORM.LABEL.VIDEO_OPTION.FILE' | translate }}
                    </label>

                    <input
                        id="video-veo"
                        type="radio"
                        class="btn-check"
                        formControlName="option"
                        value="veo"
                        (change)="handleVideoSourceUpdated()"
                    >
                    <label class="btn btn-outline-primary" for="video-veo">
                        {{ 'PAGE.HOME.FORM.LABEL.VIDEO_OPTION.VEO' | translate }}
                    </label>
                </article>

                <article
                    *ngIf="videoOptionControl.value === 'veo'"
                    class="form-check form-switch position-absolute"
                    style="right: 0"
                >
                    <input
                        id="flexSwitchCheckDefault"
                        class="form-check-input"
                        type="checkbox"
                        role="switch"
                        formControlName="veoSplit"
                        (change)="handleVideoVeoSplitUpdated()"
                    >
                    <label
                        class="form-check-label"
                        for="flexSwitchCheckDefault"
                    >
                        {{ 'PAGE.HOME.FORM.LABEL.VEO_SPLIT.QUESTION' | translate }}
                    </label>
                </article>
            </section>

            <article class="col-8 offset-2" *ngIf="videoOptionControl.value === 'file'">
                <input
                    [className]="exposeClassNameForInput(videoFileControl)"
                    formControlName="file"
                    type="file"
                    multiple
                >
            </article>

            <section class="col-8 offset-2" *ngIf="videoOptionControl.value === 'veo'">
                <article class="input-group" formArrayName="veoLinks">
                    <span class="input-group-text">
                        <span class="bi bi-link" *ngIf="!videoVeoSplitControl.value"></span>
                        <span *ngIf="videoVeoSplitControl.value">{{ 'PAGE.HOME.FORM.LABEL.VEO_SPLIT.FIRST_HALF' | translate }}</span>
                    </span>
                    <input
                        [className]="exposeClassNameForInput(videoVeoLinksArray.at(0))"
                        [placeholder]="veoUrlPrefix"
                        [formControlName]="0"
                        type="url"
                    />

                    <span class="input-group-text" *ngIf="videoVeoSplitControl.value">
                        {{ 'PAGE.HOME.FORM.LABEL.VEO_SPLIT.SECOND_HALF' | translate }}
                    </span>
                    <input
                        [className]="exposeClassNameForInput(videoVeoLinksArray.at(1))"
                        [placeholder]="veoUrlPrefix"
                        [formControlName]="1"
                        type="url"
                        *ngIf="videoVeoSplitControl.value"
                    />
                </article>
            </section>

            <article class="errors-container">
                <p class="error" *ngIf="videoGroup.errors?.notEnoughSpace">
                    {{ 'PAGE.HOME.ERROR.VIDEO.NOT_ENOUGH_SPACE' | translate }}
                </p>
                <p class="error" *ngIf="videoGroup.errors?.processVideoFailed">
                    {{ 'PAGE.HOME.ERROR.VIDEO.PROCESS_FAILED' | translate }}
                </p>

                <p class="error" *ngIf="videoFileControl.touched && videoFileControl.errors?.required">
                    {{ 'PAGE.HOME.ERROR.VIDEO.FILE_REQUIRED' | translate }}
                </p>
                <p class="error" *ngIf="videoFileControl.errors?.invalidType">
                    {{ 'PAGE.HOME.ERROR.VIDEO.NOT_SUPPORTED' | translate }}
                    <span *ngFor="let fileName of exposeErrorFileNames()">
                        <br>{{ fileName }}
                    </span>
                </p>
                <p class="error" *ngIf="videoFileControl.errors?.multipleVideoFormat">
                    {{ 'PAGE.HOME.ERROR.VIDEO.MULTIPLE_FORMAT' | translate }}
                </p>

                <p class="error" *ngIf="exposeFormArrayHasError(videoVeoLinksArray, 'required')">
                    {{ 'PAGE.HOME.ERROR.VIDEO.VEO_REQUIRED' | translate }}
                </p>
                <p class="error" *ngIf="exposeFormArrayHasError(videoVeoLinksArray, 'pattern')">
                    {{ 'PAGE.HOME.ERROR.VIDEO.INVALID_URL' | translate }}
                </p>
            </article>
        </section>

        <article class="text-center">
            <button
                class="btn btn-success btn-lg"
                [disabled]="gameForm.invalid || isProcessingVideos"
            >
                {{ 'PAGE.HOME.IMPORT_BUTTON' | translate }}
            </button>
        </article>
    </form>

    <footer class="footer">
        <section class="footer-container">
            <p>
                {{ 'PAGE.HOME.MADE_BY' | translate }}
                <b>Corentin Latappy</b>
                <a class="ms-1" href="mailto:corentin.lat.ref@gmail.com"><span class="bi bi-envelope"></span></a>
                {{ 'PAGE.HOME.WITH' | translate }}
                <span class="bi bi-heart-fill"></span>
            </p>

            <span class="bi bi-dot"></span>

            <button
                class="btn btn-link p-0"
                (click)="handleOpenUrlInBrowser('https://corentin-1.gitbook.io/ref-back')"
            >
                {{ 'PAGE.HOME.DOCUMENTATION' | translate }}
            </button>

            <span class="bi bi-dot"></span>

            <button
                class="btn btn-link p-0"
                (click)="handleOpenUrlInBrowser('https://corentin-1.gitbook.io/ref-back/changelog')"
            >
                {{ appVersion }}
            </button>
        </section>
    </footer>
</section>
