<section class="home-component container text-center">
    <header class="row my-5">
        <h1 class="col-8 offset-2 title">{{ 'PAGE.HOME.TITLE' | translate }}</h1>

        <button
            class="col-2 btn btn-outline-primary"
            (click)="handleDisplayExistingGames()"
            *ngIf="hasExistingGames"
        >
            <i class="bi bi-eye"></i> {{ 'PAGE.HOME.SEE_EXISTING_GAMES' | translate }}
        </button>
    </header>

    <form class="row col-8 offset-2 py-3" [formGroup]="gameForm" (ngSubmit)="submit()" novalidate>
        <section class="mb-4">
            <h3>{{ 'PAGE.HOME.IMPORT' | translate }}</h3>
            <p>{{ 'PAGE.HOME.MULTI_VIDEO_EXPLANATION' | translate }}</p>
        </section>

        <section class="text-start">
            <article class="col-6 offset-3">
                <label for="game-number" class="form-label">
                    {{ 'PAGE.HOME.FORM.LABEL.GAME_NUMBER' | translate }} :
                </label>
                <div class="input-group">
                    <span class="input-group-text">{{ gameNumberPrefix }}</span>
                    <input
                        [className]="exposeClassNameForGameNumberInput()"
                        id="game-number"
                        formControlName="gameNumber"
                        type="text"
                        game-number
                    >
                    <span class="input-group-text">{{ gameNumberSuffix }}</span>
                </div>
            </article>

            <article class="errors-container">
                <p class="error" *ngIf="gameNumberControl.touched && gameNumberControl.errors?.pattern">
                    {{ 'PAGE.HOME.ERROR.GAME_NUMBER.PATTERN' | translate }}
                </p>
                <p class="error" *ngIf="gameNumberControl.touched && gameNumberControl.errors?.required">
                    {{ 'PAGE.HOME.ERROR.GAME_NUMBER.REQUIRED' | translate }}
                </p>
            </article>
        </section>

        <section class="mt-3">
            <input
                [className]="exposeClassNameForVideoInput()"
                formControlName="video"
                type="file"
                multiple
            >
            <article class="errors-container">
                <p class="error" *ngIf="videoControl.errors?.invalidType">
                    {{ 'PAGE.HOME.ERROR.VIDEO.IMPORT_INVALID' | translate }}
                    <span *ngFor="let fileName of exposeErrorFileNames()">
                        <br>{{ fileName }}
                    </span>
                </p>
                <p class="error" *ngIf="videoControl.errors?.multipleVideoFormat">
                    {{ 'PAGE.HOME.ERROR.VIDEO.MULTIPLE_FORMAT' | translate }}
                </p>
                <p class="error" *ngIf="videoControl.errors?.processVideoFailed">
                    {{ 'PAGE.HOME.ERROR.VIDEO.PROCESS_FAILED' | translate }}
                </p>
            </article>
        </section>

        <article class="mb-3">
            <button
                class="btn btn-success btn-lg"
                [disabled]="gameForm.invalid || isProcessingVideos"
            >
                {{ 'PAGE.HOME.IMPORT_BUTTON' | translate }}
            </button>
        </article>

        <article class="d-flex flex-column align-items-center" *ngIf="isProcessingVideos">
            <ngb-progressbar
                class="w-100"
                type="success"
                height="20px"
                [value]="progress"
                [striped]="true"
                [animated]="true"
            >
                <i>{{ progress }}%</i>
            </ngb-progressbar>
        </article>
    </form>

    <footer class="footer">
        <p>
            {{ 'PAGE.HOME.MADE_BY' | translate }}
            <b>Corentin LATAPPY</b>
            <a class="ms-1" href="mailto:corentin.lat@gmail.com"><span class="bi bi-envelope"></span></a>
            {{ 'PAGE.HOME.WITH' | translate }}
            <span class="bi bi-heart-fill"></span>
        </p>

        <span class="bi bi-dot"></span>

        <a
            href="https://github.com/CorentinLat/perf-arbitres-plus-plus/wiki"
            target="_blank"
        >
            {{ 'PAGE.HOME.DOCUMENTATION' | translate }}
        </a>

        <span class="bi bi-dot"></span>

        <a
            href="https://github.com/CorentinLat/perf-arbitres-plus-plus/blob/main/README.md"
            target="_blank"
        >
            {{ appVersion }}
        </a>
    </footer>
</section>
