<section class="home-component">
    <header class="container my-5">
        <h1 class="m-0">{{ 'PAGE.HOME.TITLE' | translate }}</h1>

        <button
            class="btn btn-outline-primary existing-games"
            (click)="handleDisplayExistingGames()"
            *ngIf="hasExistingGames"
        >
            <i class="bi bi-eye"></i> {{ 'PAGE.HOME.SEE_EXISTING_GAMES' | translate }}
        </button>
    </header>

    <form
        class="form-container container py-3"
        [formGroup]="gameForm"
        (ngSubmit)="submit()"
        novalidate
    >
        <section class="mb-4 text-center">
            <h3>{{ 'PAGE.HOME.IMPORT' | translate }}</h3>
            <p>{{ 'PAGE.HOME.MULTI_VIDEO_EXPLANATION' | translate }}</p>
        </section>

        <section class="row">
            <section class="col-8 offset-2 col-lg-4 offset-lg-4">
                <label for="game-number" class="form-label">
                    {{ 'PAGE.HOME.FORM.LABEL.GAME_NUMBER' | translate }}
                    <span class="text-danger">*</span>
                </label>
                <div class="input-group">
                    <span class="input-group-text">{{ gameNumberPrefix }}</span>
                    <input
                        [className]="exposeClassNameForFormControl(gameNumberControl)"
                        id="game-number"
                        formControlName="gameNumber"
                        type="text"
                        game-number
                    >
                    <span class="input-group-text">{{ gameNumberSuffix }}</span>
                </div>

                <article class="errors-container">
                    <p class="error" *ngIf="exposeFormControlHasError(gameNumberControl, 'pattern')">
                        {{ 'PAGE.HOME.ERROR.GAME_NUMBER.PATTERN' | translate }}
                    </p>
                    <p class="error" *ngIf="exposeFormControlHasError(gameNumberControl, 'required')">
                        {{ 'PAGE.HOME.ERROR.GAME_NUMBER.REQUIRED' | translate }}
                    </p>
                    <p class="error" *ngIf="exposeFormControlHasError(gameNumberControl, 'alreadyExisting')">
                        {{ 'PAGE.HOME.ERROR.GAME_NUMBER.EXISTING' | translate }}
                    </p>
                </article>
            </section>

            <section class="col-8 offset-2 col-lg-3 offset-lg-1">
                <label for="date" class="form-label">
                    {{ 'PAGE.HOME.FORM.LABEL.DATE' | translate }}
                    <span class="text-danger">*</span>
                </label>
                <input
                    [className]="exposeClassNameForFormControl(dateControl)"
                    id="date"
                    formControlName="date"
                    type="date"
                >

                <article class="errors-container">
                    <p class="error" *ngIf="exposeFormControlHasError(dateControl, 'required')">
                        {{ 'PAGE.HOME.ERROR.DATE.REQUIRED' | translate }}
                    </p>
                </article>
            </section>
        </section>

        <section class="row" formGroupName="teams">
            <section class="col-6">
                <label for="local-team" class="form-label">
                    {{ 'PAGE.HOME.FORM.LABEL.LOCAL_TEAM' | translate }}
                    <span class="text-danger">*</span>
                </label>
                <div class="input-group">
                    <span class="input-group-text"><span class="bi bi-house"></span></span>
                    <input
                        [className]="exposeClassNameForFormControl(localTeamControl)"
                        id="local-team"
                        formControlName="local"
                        type="text"
                        [ngbTypeahead]="searchTeams"
                    >
                </div>
            </section>

            <section class="col-6">
                <label for="visitor-team" class="form-label">
                    {{ 'PAGE.HOME.FORM.LABEL.VISITOR_TEAM' | translate }}
                    <span class="text-danger">*</span>
                </label>
                <div class="input-group">
                    <span class="input-group-text"><span class="bi bi-airplane"></span></span>
                    <input
                        [className]="exposeClassNameForFormControl(visitorTeamControl)"
                        id="visitor-team"
                        formControlName="visitor"
                        type="text"
                        [ngbTypeahead]="searchTeams"
                    >
                </div>
            </section>

            <article class="errors-container">
                <p class="error" *ngIf="exposeFormGroupIsInvalid(teamsGroup)">
                    {{ 'PAGE.HOME.ERROR.TEAMS.REQUIRED' | translate }}
                </p>
            </article>
        </section>

        <section class="row text-center score" formGroupName="score">
            <section class="col-8 offset-2 col-lg-4 offset-lg-4">
                <label for="local-score" class="form-label">
                    {{ 'PAGE.HOME.FORM.LABEL.SCORE' | translate }}
                    <span class="text-danger">*</span>
                </label>
                <div class="input-group">
                    <span class="input-group-text"><span class="bi bi-house"></span></span>
                    <input
                        [className]="exposeClassNameForFormControl(localScoreControl)"
                        id="local-score"
                        formControlName="local"
                        type="number"
                    >
                    <span class="input-group-text">-</span>
                    <input
                        [className]="exposeClassNameForFormControl(visitorScoreControl)"
                        id="visitor-score"
                        formControlName="visitor"
                        type="number"
                    >
                    <span class="input-group-text"><span class="bi bi-airplane"></span></span>
                </div>
            </section>
            <article class="errors-container"></article>
        </section>

        <section class="row">
            <article class="col-8 offset-2">
                <input
                    [className]="exposeClassNameForFormControl(videoControl)"
                    formControlName="video"
                    type="file"
                    multiple
                >
                <article class="errors-container">
                    <p class="error" *ngIf="videoControl.errors?.invalidType">
                        {{ 'PAGE.HOME.ERROR.VIDEO.IMPORT_INVALID' | translate }}
                        <span *ngFor="let fileName of exposeErrorFileNames()">
                        <br>{{ fileName }}
                    </span>
                    </p>
                    <p class="error" *ngIf="videoControl.errors?.multipleVideoFormat">
                        {{ 'PAGE.HOME.ERROR.VIDEO.MULTIPLE_FORMAT' | translate }}
                    </p>
                    <p class="error" *ngIf="videoControl.errors?.notEnoughSpace">
                        {{ 'PAGE.HOME.ERROR.VIDEO.NOT_ENOUGH_SPACE' | translate }}
                    </p>
                    <p class="error" *ngIf="videoControl.errors?.processVideoFailed">
                        {{ 'PAGE.HOME.ERROR.VIDEO.PROCESS_FAILED' | translate }}
                    </p>
                    <p class="error" *ngIf="videoControl.dirty && videoControl.errors?.required">
                        {{ 'PAGE.HOME.ERROR.VIDEO.REQUIRED' | translate }}
                    </p>
                </article>
            </article>
        </section>

        <article class="text-center">
            <button
                class="btn btn-success btn-lg"
                [disabled]="gameForm.invalid || isProcessingVideos"
            >
                {{ 'PAGE.HOME.IMPORT_BUTTON' | translate }}
            </button>
        </article>

        <article class="d-flex flex-column align-items-center mt-3" *ngIf="isProcessingVideos">
            <ngb-progressbar
                class="w-100"
                type="success"
                height="20px"
                [value]="progress"
                [striped]="true"
                [animated]="true"
            >
                <i>{{ progress }}%</i>
            </ngb-progressbar>
        </article>
    </form>

    <footer class="footer">
        <section class="footer-container">
            <p>
                {{ 'PAGE.HOME.MADE_BY' | translate }}
                <b>Corentin LATAPPY</b>
                <a class="ms-1" href="mailto:corentin.lat@gmail.com"><span class="bi bi-envelope"></span></a>
                {{ 'PAGE.HOME.WITH' | translate }}
                <span class="bi bi-heart-fill"></span>
            </p>

            <span class="bi bi-dot"></span>

            <button
                class="btn btn-link p-0"
                (click)="handleOpenUrlInBrowser('https://corentin-1.gitbook.io/perfarbitres++')"
            >
                {{ 'PAGE.HOME.DOCUMENTATION' | translate }}
            </button>

            <span class="bi bi-dot"></span>

            <button
                class="btn btn-link p-0"
                (click)="handleOpenUrlInBrowser('https://github.com/CorentinLat/perf-arbitres-plus-plus/blob/main/CHANGELOG.md')"
            >
                {{ appVersion }}
            </button>
        </section>
    </footer>
</section>
