<section>
    <article class="modal-header">
        <h5 class="modal-title">{{ 'MODAL.LOAD_GAMES_EXISTING.TITLE' | translate }}</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
    </article>

    <section class="modal-body text-center">
        <h5 class="mb-0"><strong>{{ 'MODAL.LOAD_GAMES_EXISTING.EXPLANATION_1' | translate }}</strong></h5>
        <p>{{ 'MODAL.LOAD_GAMES_EXISTING.EXPLANATION_2' | translate }}</p>

        <section class="d-flex flex-column align-items-center gap-3">
            <article
                class="d-flex align-items-center gap-2"
                *ngFor="let gameNumber of gameNumbers"
            >
                <button
                    class="btn btn-link"
                    type="button"
                    (click)="modal.close(gameNumber)"
                >
                    {{ gameNumber }}
                </button>

                <button
                    class="btn ml-2"
                    type="button"
                    (click)="handleRemoveGame(gameNumber)"
                >
                    <i class="bi bi-trash text-danger"></i>
                </button>
            </article>
        </section>
    </section>
</section>
