<vg-player class="video" (onPlayerReady)="onPlayerReady($event)">
    <vg-buffering></vg-buffering>

    <vg-overlay-play></vg-overlay-play>

    <vg-scrub-bar>
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
    </vg-scrub-bar>

    <vg-controls>
        <vg-play-pause></vg-play-pause>
        <app-vg-navigate [time]="-30" [vgApi]="videoApiService"></app-vg-navigate>
        <app-vg-navigate [time]="-10" [vgApi]="videoApiService"></app-vg-navigate>
        <app-vg-navigate [time]="10" [vgApi]="videoApiService"></app-vg-navigate>
        <app-vg-navigate [time]="30" [vgApi]="videoApiService"></app-vg-navigate>
        <vg-playback-button></vg-playback-button>

        <vg-time-display vgProperty="current" vgFormat="hh:mm:ss"></vg-time-display>

        <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

        <vg-time-display vgProperty="total" vgFormat="hh:mm:ss"></vg-time-display>

        <vg-mute></vg-mute>
        <vg-volume></vg-volume>

        <vg-fullscreen></vg-fullscreen>
    </vg-controls>

    <video
        [vgMedia]="$any(media)"
        #media
        preload="auto"
        (pause)="handleVideoPaused($event)"
        (play)="handleVideoPlayed($event)"
        (timeupdate)="handleVideoTimeUpdated($event)"
        *ngIf="!isHidingVideo"
    >
        <source [src]="videoPathSafe">
    </video>
</vg-player>
