.action-full-component {
    min-height: 59px;
    border-bottom: 1px solid lightgray;
    padding: 0 5px;

    .yes { color: #20c997; }
    .no { color: #dc3545; }
    .doubt { color: #ffc107; }

    .box {
        .clip-minute {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}
