<section class="match-analysis-component">
    <header class="match-analysis-header" *ngIf="game">
        <section class="left-container">
            <button class="btn btn-link" [routerLink]="[originPath || '/']">
                <span *ngIf="originPath">
                    <i class="bi bi-arrow-left"></i> {{ 'PAGE.MATCH_ANALYSIS.BACK' | translate }}
                </span>
                <span *ngIf="!originPath">
                    <i class="bi bi-house"></i> {{ 'PAGE.MATCH_ANALYSIS.BACK_HOME' | translate }}
                </span>
            </button>
        </section>

        <app-game-information class="w-100 overflow-hidden" [game]="game"></app-game-information>

        <section class="right-container">
            <button class="btn btn-link" (click)="handleNavigateToSummary()">
                {{ 'PAGE.MATCH_ANALYSIS.BUTTONS.NAVIGATE_TO_SUMMARY' | translate }} <i class="bi bi-pie-chart"></i>
            </button>
        </section>
    </header>

    <section class="match-analysis-body" *ngIf="game">
        <app-handle-match-analysis
            class="controls"
            [game]="game"
            [videoApiService]="videoApiService"
            *ngIf="videoApiService"
        ></app-handle-match-analysis>

        <section class="video-and-annotations" [ngClass]="{ collapsed: isCollapsed }">
            <app-video-viewer
                class="video"
                [videoPath]="game.information.videoPath"
                [timing]="route.snapshot.queryParams.second"
                (videoReady)="handleVideoReady($event)"
            ></app-video-viewer>

            <section class="annotations-container">
                <app-annotations
                    class="annotations"
                    [annotations]="game.actions"
                    [gameNumber]="gameNumber"
                ></app-annotations>
            </section>
        </section>
    </section>
</section>
