$match-analysis-component-margin: 20px;
$header-height: 50px;
$header-gap: 20px;

.match-analysis-component {
    display: flex;
    flex-direction: column;
    gap: $header-gap;
    margin: $match-analysis-component-margin;

    .match-analysis-header {
        display: flex;
        align-items: center;
        height: $header-height;
        overflow: hidden;

        .left-container, .right-container {
            display: flex;
            align-items: center;
            min-width: 125px;

            .btn { padding: 0; }
        }

        .right-container { justify-content: flex-end; }
    }

    .match-analysis-body {
        display: flex;
        flex-direction: column;
        gap: 20px;

        height: calc(100vh - #{$match-analysis-component-margin} * 2 - #{$header-height} - #{$header-gap});

        .video-and-actions {
            display: flex;
            gap: 20px;
            height: 100%;
            overflow: hidden;

            .video {
                flex-basis: 0;
                flex-grow: 2;
            }

            .actions-container {
                display: flex;
                flex-direction: column;
                flex-basis: 0;
                flex-grow: 3;
                overflow: hidden;

                .actions {
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;
                }
            }

            &.collapsed {
                .actions-container {
                    flex-grow: 0;
                    min-width: 100px;
                }
            }
        }

        .controls {
            display: flex;
            overflow: hidden;
            height: 200px;
        }
    }
}
