<section class="actions-component">
    <section class="actions-header" *ngIf="actions.length > 0">
        <article class="minute">{{ 'PAGE.MATCH_ANALYSIS.ACTIONS.MINUTE' | translate }}</article>
        <article class="type">{{ 'PAGE.MATCH_ANALYSIS.ACTIONS.TYPE' | translate }}</article>
        <article class="against">{{ 'PAGE.MATCH_ANALYSIS.ACTIONS.AGAINST' | translate }}</article>
        <article class="sector">{{ 'PAGE.MATCH_ANALYSIS.ACTIONS.SECTOR' | translate }}</article>
        <article class="actions"></article>
    </section>

    <section class="actions-container" *ngIf="actions.length > 0">
        <app-action
            *ngFor="let action of exposeActionsSortedByTime()"
            [action]="action"
            (editActionEvent)="editAction($event)"
            (removeActionEvent)="removeAction($event)"
        ></app-action>
    </section>

    <article class="no-action" *ngIf="actions.length === 0">
        <h5>{{ 'PAGE.MATCH_ANALYSIS.ACTIONS.NO_ACTION' | translate }}</h5>
    </article>
</section>
