<app-full-display-actions
    class="display-actions"
    [actions]="exposeActionsSortedByTime()"
    [gameNumber]="gameNumber"
    [putVideoAtSecond]="putVideoAtSecond"
    [newActionAdded]="newActionAdded"
    (editVideo)="editVideo.emit()"
    *ngIf="!collapsed"
></app-full-display-actions>
<app-collapse-display-actions
    class="display-actions"
    [actions]="exposeActionsSortedByTime()"
    [putVideoAtSecond]="putVideoAtSecond"
    [newActionAdded]="newActionAdded"
    (editVideo)="editVideo.emit()"
    *ngIf="collapsed"
></app-collapse-display-actions>
