.game-comment-display-component {
    display: flex;
    flex-direction: column;
    width: 100%;

    .comment-title {
        min-height: 30px;
        margin-bottom: 0.25rem;
        padding-bottom: 0;
        border-bottom: 1px solid #e0e0e0;

        button {
            padding: 0;
        }
    }

    .comment-text {
        margin: 0;
        overflow: auto;
        text-align: justify;
        white-space: pre-wrap;

        .role {
            font-weight: bold;
            text-decoration: underline;
        }
    }

    .no-comment {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p { margin: 0; }
    }
}
