.action-component {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding: 10px 5px;

    .minute {
        flex-grow: 1;
        flex-basis: 0;
    }
    .type {
        flex-grow: 2;
        flex-basis: 0;
    }
    .against {
        flex-grow: 3;
        flex-basis: 0;
    }
    .sector {
        flex-grow: 3;
        flex-basis: 0;
    }
    .actions {
        flex-grow: 2;
        flex-basis: 0;
    }
}
