<section class="summary-component" *ngIf="game">
    <header class="summary-header row">
        <article class="col-3">
            <button class="btn btn-link" (click)="handleNavigateToMatchAnalysis()">
                <i class="bi bi-arrow-left"></i> {{ 'PAGE.SUMMARY.BACK_MATCH_ANALYSIS' | translate }}
            </button>
        </article>

        <h4 class="title col-6">{{ 'PAGE.SUMMARY.TITLE' | translate }}</h4>
    </header>

    <section class="summary-game-and-buttons">
        <section class="all-game-information-container">
            <app-game-information [game]="game"></app-game-information>

            <section
                class="game-comments"
                *ngIf="game.gameDescription || game.gameDescriptionFromAdviser || game.globalPerformance || game.globalPerformanceFromAdviser"
            >
                <app-game-comment-display
                    class="comment-display-component"
                    [game]="game"
                    [keyToDisplay]="'gameDescription'"
                    [keyLabel]="'GAME_DESCRIPTION'"
                    *ngIf="game.gameDescription || game.gameDescriptionFromAdviser"
                ></app-game-comment-display>
                <app-game-comment-display
                    class="comment-display-component"
                    [game]="game"
                    [keyToDisplay]="'globalPerformance'"
                    [keyLabel]="'GLOBAL_PERFORMANCE'"
                    *ngIf="game.globalPerformance || game.globalPerformanceFromAdviser"
                ></app-game-comment-display>
            </section>
        </section>

        <section class="summary-buttons">
            <article ngbDropdown class="d-inline-block" *ngIf="exposeHasClips()">
                <button ngbDropdownToggle class="btn btn-primary" [disabled]="isDownloadingVideo">
                    {{ 'PAGE.SUMMARY.BUTTONS.DOWNLOAD_VIDEO' | translate }}
                    <i class="bi bi-camera-video mx-1" *ngIf="!isDownloadingVideo"></i>
                    <article
                        class="spinner-border spinner-border-sm"
                        role="status"
                        *ngIf="isDownloadingVideo"
                    ></article>
                </button>
                <div ngbDropdownMenu>
                    <button ngbDropdownItem (click)="handleDownloadVideoGame()">
                        {{ 'PAGE.SUMMARY.BUTTONS.DOWNLOAD_VIDEO_GAME' | translate }}
                    </button>
                    <button ngbDropdownItem (click)="handleDownloadVideoClips()">
                        {{ 'PAGE.SUMMARY.BUTTONS.DOWNLOAD_VIDEO_CLIPS' | translate }}
                    </button>
                    <button ngbDropdownItem (click)="handleDownloadVideoAll()">
                        {{ 'PAGE.SUMMARY.BUTTONS.DOWNLOAD_VIDEO_ALL' | translate }}
                    </button>
                </div>
            </article>

            <button
                class="btn btn-primary"
                *ngIf="!exposeHasClips()"
                (click)="handleDownloadVideoGame()"
                [disabled]="isDownloadingVideo"
            >
                {{ 'PAGE.SUMMARY.BUTTONS.DOWNLOAD_VIDEO' | translate }}
                <i class="bi bi-camera-video mx-1" *ngIf="!isDownloadingVideo"></i>
                <article
                    class="spinner-border spinner-border-sm"
                    role="status"
                    *ngIf="isDownloadingVideo"
                ></article>
            </button>

            <article ngbDropdown class="d-inline-block" *ngIf="exposeHasDecisions()">
                <button ngbDropdownToggle class="btn btn-primary" [disabled]="isDownloadingSummary">
                    {{ 'PAGE.SUMMARY.BUTTONS.EXPORT_SUMMARY.' | translate }}
                    <i class="bi bi-table mx-1" *ngIf="!isDownloadingSummary"></i>
                    <article
                        class="spinner-border spinner-border-sm"
                        role="status"
                        *ngIf="isDownloadingSummary"
                    ></article>
                </button>
                <div ngbDropdownMenu>
<!--                    <button ngbDropdownItem (click)="handleExportSummary('excel')">-->
<!--                        {{ 'PAGE.SUMMARY.BUTTONS.EXPORT_SUMMARY.EXCEL' | translate }}-->
<!--                    </button>-->
                    <button ngbDropdownItem (click)="handleExportSummary('pdf')">
                        {{ 'PAGE.SUMMARY.BUTTONS.EXPORT_SUMMARY.PDF' | translate }}
                    </button>
                </div>
            </article>

            <button class="btn btn-danger" (click)="handleNavigateToHome()">
                {{ 'PAGE.SUMMARY.BUTTONS.NAVIGATE_HOME' | translate }}
                <i class="bi bi-house mx-1"></i>
            </button>
        </section>
    </section>

    <ngb-accordion
        class="summary-body"
        [closeOthers]="true"
        activeIds="statistics"
        *ngIf="exposeHasDecisions()"
    >
        <ngb-panel
            id="statistics"
            title="{{ 'PAGE.SUMMARY.PANEL.STATISTICS' | translate }}"
            *ngIf="exposeHasStatistics()"
        >
            <ng-template ngbPanelContent>
                <app-summary-statistics [actions]="game.actions"></app-summary-statistics>
            </ng-template>
        </ngb-panel>

        <ngb-panel id="all_actions" title="{{ 'PAGE.SUMMARY.PANEL.ALL_ACTIONS' | translate }}">
            <ng-template ngbPanelContent>
                <app-full-display-actions
                    [actions]="exposeActionsSortedByTime()"
                    [gameNumber]="gameNumber"
                    [isSummaryDisplay]="true"
                ></app-full-display-actions>
            </ng-template>
        </ngb-panel>

        <ngb-panel
            [id]="sector"
            title="{{ 'PAGE.SUMMARY.PANEL.' + sector | translate }}"
            *ngFor="let sector of exposeSectorsWithAtLeastOneDecision()"
        >
            <ng-template ngbPanelContent>
                <app-full-display-actions
                    [actions]="exposeActionsSortedByTime()"
                    [gameNumber]="gameNumber"
                    [isSummaryDisplay]="true"
                    [sector]="sector"
                ></app-full-display-actions>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>

    <article class="no-summary" *ngIf="!exposeHasDecisions()">
        {{ 'PAGE.SUMMARY.NO_DECISION' | translate }}
    </article>
</section>
