$summary-component-margin: 20px;
$header-height: 30px;

.summary-component {
    display: flex;
    flex-direction: column;
    gap: 20px;

    max-height: calc(100vh - #{$summary-component-margin * 2});
    margin: $summary-component-margin;
    overflow: hidden;

    .summary-header {
        height: $header-height;

        .title {
            margin: 0;
            text-align: center;
        }
    }

    .summary-game-and-buttons {
        display: flex;
        gap: 20px;

        .all-game-information-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;

            .comments-body {
                border: 1px solid rgba(0, 0, 0, 0.125);
                border-radius: calc(0.25rem - 1px);

                .game-comments {
                    display: flex;
                    gap: 2rem;

                    .comment-display-component {
                        width: 100%;
                    }
                }
            }
        }

        .summary-buttons {
            display: flex;
            flex-direction: column;
            min-width: 160px;
            gap: 10px;

            .btn.dropdown-toggle { width: 100%; }
            button { white-space: nowrap; }
        }
    }

    .summary-body {
        overflow: auto;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: calc(0.25rem - 1px);
    }

    .no-summary {
        font-size: 25px;
        font-weight: bold;
        text-align: center;
    }
}
