.handle-match-analysis-component {
    display: flex;
    width: 100%;

    .comments-container {
        flex-grow: 1;
        display: flex;
        gap: 2rem;

        .comment-display-component {
            display: flex;
            width: 100%;
        }
    }

    .buttons-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        min-width: 250px;

        .add-decision-btn {
            margin-top: 20px;
        }

        .collapse-btn {
            align-self: flex-end;
        }
    }
}
