<section class="handle-match-analysis-component">
    <section *ngIf="!displayActionForm">
        <button class="btn btn-primary" (click)="handleDisplayActionForm()">
            <i class="bi bi-plus"></i> {{ 'PAGE.MATCH_ANALYSIS.FORM.ADD_DECISION' | translate }}
        </button>

        <button class="btn btn-success ms-3" (click)="handleNavigateToSummary()">
            {{ 'PAGE.MATCH_ANALYSIS.FORM.NAVIGATE_TO_SUMMARY' | translate }} <i class="bi bi-arrow-right"></i>
        </button>
    </section>

    <app-add-edit-action
        [action]="currentAction"
        [gameNumber]="game.information.gameNumber"
        [videoApiService]="videoApiService"
        (actionAdded)="handleActionAdded($event)"
        (actionEdited)="handleActionEdited($event)"
        (actionCancelled)="handleActionCancelled()"
        *ngIf="displayActionForm"
    ></app-add-edit-action>
</section>
