.handle-match-analysis-component {
    display: flex;
    width: 100%;

    .comments-container {
        flex-grow: 1;
        display: flex;
        gap: 2rem;

        .comment-display-component {
            display: flex;
            width: 100%;
        }
    }

    .buttons-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: 200px;

        .role-options-toggle {
            .btn {
                box-shadow: none;
                outline: none;
                white-space: nowrap;
            }
        }

        .collapse-btn { align-self: flex-end; }
    }
}
