.collapse-display-actions-component {
    display: flex;
    flex-direction: column;
    gap: 14px;
    overflow: auto;

    .decision-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        min-height: 100px;
        width: 100%;

        padding-bottom: 14px;

        &:not(:last-child) {
            border-bottom: 1px solid #e0e0e0;
        }

        &.no-decision {
            display: flex;
            align-items: center;
            text-align: center;
        }

        .second {
            .yes { color: #20c997; }
            .no { color: #dc3545; }
            .doubt { color: #ffc107; }
        }
    }
}
