<section class="collapse-display-actions-component" #scrollable>
    <section class="decision-card decision" *ngFor="let action of actions">
        <section class="d-flex align-items-center justify-content-between">
            <article class="second">
                <button
                    class="btn btn-link p-0"
                    [ngClass]="{ yes: action.precise === 'YES', no: action.precise === 'NO', doubt: action.precise === 'DOUBT' }"
                    (click)="putVideoAtSecond(action.second)"
                >
                    {{ exposeActionMinutes(action.second) }}
                </button>
            </article>

            <i class="bi bi-film" *ngIf="action.clip"></i>

            <article class="against">
                <i class="bi bi-house" *ngIf="action.against === 'LOCAL'"></i>
                <i class="bi bi-airplane" *ngIf="action.against === 'VISITOR'"></i>
            </article>
        </section>

        <section class="d-flex align-items-center justify-content-between">
            <article class="type">
                {{ 'PAGE.MATCH_ANALYSIS.ACTIONS.ACTION.TYPE.' + action.type + '_SHORT' | translate }}
            </article>

            <article class="card-type">
                <app-card [card]="action.card"></app-card>
            </article>
        </section>

        <section class="d-flex align-items-center justify-content-between">
            <article class="sector">
                {{ 'PAGE.MATCH_ANALYSIS.ACTIONS.ACTION.SECTOR.' + action.sector + '_SHORT' | translate }}
            </article>

            <article class="comment" *ngIf="action.comment">
                <i
                    class="bi bi-chat text-primary"
                    [ngbPopover]="action.comment"
                    [openDelay]="400"
                    triggers="mouseenter:mouseleave"
                    placement="left"
                ></i>
            </article>
        </section>
    </section>

    <p class="decision-card no-decision" *ngIf="!actions.length">
        {{ 'PAGE.MATCH_ANALYSIS.ACTIONS.NO_ACTION_SHORT' | translate }}

        <button class="btn btn-primary btn-sm" (click)="handleOpenGameVideoEditorModal()">
            <i class="bi bi-film"></i>
            <i class="bi bi-scissors"></i>
            <i class="bi bi-film"></i>
        </button>
    </p>
</section>
