.add-edit-action-component {
    .input {
        flex-basis: 0;

        &.type, &.decision-card, &.against, &.precise { flex-grow: 1; }
        &.sector, &.fault { flex-grow: 2; }
        &.comment { flex-grow: 4; }
    }

    .form-check { margin: 0; }
    .form-check-label { white-space: nowrap; }

    .minutes-label {
        font-weight: bold;
        margin-left: 0.5rem;
    }
    .minutes-value {
        display: inline-block;
        margin-left: 0.2rem;
        min-width: 60px;
    }
}
