<app-full-display-annotations
    class="display-annotations"
    [annotations]="exposeAnnotationsSortedByTime()"
    [gameNumber]="gameNumber"
    [putVideoAtSecond]="putVideoAtSecond"
    [newActionAdded]="newActionAdded"
    (editVideo)="editVideo.emit()"
    *ngIf="!collapsed"
></app-full-display-annotations>
<app-collapse-display-annotations
    class="display-annotations"
    [annotations]="exposeAnnotationsSortedByTime()"
    [putVideoAtSecond]="putVideoAtSecond"
    [newActionAdded]="newActionAdded"
    (editVideo)="editVideo.emit()"
    *ngIf="collapsed"
></app-collapse-display-annotations>
