<section class="decisions-component">
    <header class="decisions-header row">
        <article class="col-3">
            <button class="btn btn-link" (click)="navigateToHomePage()">
                <i class="bi bi-arrow-left"></i> {{ 'PAGE.DECISIONS.BACK_TO_HOME' | translate }}
            </button>
        </article>

        <h4 class="title col-6">{{ 'PAGE.DECISIONS.TITLE' | translate }}</h4>
    </header>

    <form
        class="decisions-filters container"
        [formGroup]="searchForm"
        novalidate
    >
        <article class="mb-4 text-center">
            <p>{{ 'PAGE.DECISIONS.EXPLANATION' | translate }}</p>
        </article>

        <section class="row">
            <article class="col-4">
                <label for="sectors" class="form-label">
                    {{ 'PAGE.DECISIONS.FORM.LABEL.SECTOR' | translate }}
                </label>
                <div class="input-group">
                    <ng-multiselect-dropdown
                        id="sectors"
                        [settings]="multiSelectDropdownDefaultSettings"
                        [placeholder]="'PAGE.DECISIONS.FORM.MULTI_SELECT.PLACEHOLDER_SECTOR' | translate"
                        [formControl]="sectorsControl"
                        [data]="actionSectors"
                        (onDropDownClose)="searchDecisions()"
                    >
                    </ng-multiselect-dropdown>
                </div>
            </article>

            <article class="col-4">
                <label for="faults" class="form-label">
                    {{ 'PAGE.DECISIONS.FORM.LABEL.FAULT' | translate }}
                </label>
                <div class="input-group">
                    <ng-multiselect-dropdown
                        id="faults"
                        [settings]="multiSelectDropdownFaultsSettings"
                        [placeholder]="'PAGE.DECISIONS.FORM.MULTI_SELECT.PLACEHOLDER_FAULT' | translate"
                        [formControl]="faultsControl"
                        [data]="actionFaults"
                        (onDropDownClose)="searchDecisions()"
                    >
                    </ng-multiselect-dropdown>
                </div>
            </article>

            <article class="col-4">
                <label for="precises" class="form-label">
                    {{ 'PAGE.DECISIONS.FORM.LABEL.PRECISE' | translate }}
                </label>
                <div class="input-group">
                    <ng-multiselect-dropdown
                        id="precises"
                        [settings]="multiSelectDropdownPrecisesSettings"
                        [placeholder]="'PAGE.DECISIONS.FORM.MULTI_SELECT.PLACEHOLDER_PRECISE' | translate"
                        [formControl]="precisesControl"
                        [data]="actionPrecises"
                        (onDropDownClose)="searchDecisions()"
                    >
                    </ng-multiselect-dropdown>
                </div>
            </article>
        </section>
    </form>

    <main class="decisions-body container">

    </main>
</section>
